doctype
html( lang="en" )
    head
        title PollSter
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
 
    body(style="padding-bottom:10rem;")
        .container
 
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        
        p(style='white-space:pre;')
        ul.list-group
            li.list-group-item.active Question : #{user.question}
                
        .list-group
        .col-xs-6
            
            a.list-group-item.active( href="/option?q="+locals.user.question+"&opt=option1" )
                h4.list-group-item-heading Option 1: #{user.option1}
            
                
            a.list-group-item.active( href="/option?q="+locals.user.question+"&opt=option2" )
                h4.list-group-item-heading Option 2: #{user.option2}
                
                
            a.list-group-item.active( href="/option?q="+locals.user.question+"&opt=option3" )
                h4.list-group-item-heading Option 3: #{user.option3}
                
                
            a.list-group-item.active( href="/option?q="+locals.user.question+"&opt=option3" )
                h4.list-group-item-heading Option 4: #{user.option4}
                
                
            a.list-group-item.active( href="/option?q="+locals.user.question+"&opt=option5" )
                h4.list-group-item-heading Option 5: #{user.option5}
                
                
            p(style='white-space:pre;')   
            a.btn.btn-danger( href="/user/#{user.question}/delete" ) Delete